tuf>=0.12.2
python-dxf>=7.6.0
fasteners>=0.15
tqdm>=4.43.0
pytimeparse>=1.1.8
decorator>=4.4.1
iso8601>=0.1.12
securesystemslib>=0.14.1
colorama>=0.4.3

pylint>=1.9.5
pytest>=4.6.9
pytest-cov>=2.8.1
coveralls>=1.11.1
